################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web/appsettings.json
/Web/appsettings.json
/.vs
/bin/Debug
/Common/bin
/Common/Common/obj
/Common/obj
/Contracts/bin
/Contracts/obj
/db
/Domain/bin
/Domain/obj
/Persistence/bin
/Persistence/obj
/Presentation/bin
/Presentation/obj
/Presentation/ComplyExchangeCMS.Presentation.csproj
/Services/bin
/Services/obj
/Services.Abstractions/bin
/Services.Abstractions/obj
/Web/.config
/Web/bin
/Web/obj
/Web/Properties/PublishProfiles
